@import 'blocks/header-top.styl'
@import 'blocks/statistics.styl'
@import 'blocks/advantages.styl'
@import 'blocks/news.styl'
@import 'blocks/reviews.styl'
@import 'blocks/footer.styl'

@import 'blocks/works.styl'
@import 'blocks/prices.styl'

@import 'mixins.styl'
@import 'variables.styl'

