$svg-common 
	background url("sprite.svg") no-repeat

$-airplane
	@extend $svg-common
	background-position 0 0

$-airplane-dims
	width 32px
	height 32px

$-fire
	@extend $svg-common
	background-position 0 20%

$-fire-dims
	width 32px
	height 32px

$-lab
	@extend $svg-common
	background-position 0 40%

$-lab-dims
	width 32px
	height 32px

$-power
	@extend $svg-common
	background-position 0 60%

$-power-dims
	width 32px
	height 32px

$-shield
	@extend $svg-common
	background-position 0 80%

$-shield-dims
	width 32px
	height 32px

$-switch
	@extend $svg-common
	background-position 0 100%

$-switch-dims
	width 32px
	height 32px

