.footer
	width 320px
	margin 0px auto
	background-color #292929
	color white

.footer__caption
	margin-bottom 10px
	font-size 18px
	line-height 27px
	font-weight 700
	text-align center

.footer__phone-a
	display block
	padding 15px 20px
	font-size 18px
	line-height 27px
	font-weight bold
	color white
	outline 1px solid #3e3e3e
	outline-offset -1px
	text-align center
	text-decoration none

.footer__phone-span
	display none

.footer__top
	display flex
	flex-direction column
	margin-bottom 25px

.footer__middle
	display flex

.footer__bottom
	display flex
	flex-direction column
	align-items center
	padding-bottom 25px

.footer__top p
	width 175px
	align-self center
	text-align center
	color white

.footer__vkontakte
	display block
	width 106px
	height 99px
	background url('../img/vk.png') no-repeat 50% 50%
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e
	border-right none

.footer__facebook
	display block
	width 106px
	height 99px
	background url('../img/fb.png') no-repeat 50% 50%
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e
	border-right none

.footer__instagram
	display block
	width 106px
	height 99px
	background url('../img/inst.png') no-repeat 50% 50%
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e

.footer__social-text
	display none

.footer__developer
	font-size 18px
	line-height 27px
	margin-top 35px
	margin-bottom 15px

.footer__dev-link
	display block
	padding 15px 20px
	width 240px // 320px
	text-align center
	font-size 18px
	line-height 24px
	font-weight 700
	color white
	text-decoration none
	outline 1px solid #3e3e3e
	outline-offset -1px




// adaptive for < T A B L E T >

@media only screen and (min-width 550px)
	.footer
		width 100%
		display flex
		flex-flow row wrap

	.footer__wrapper
		width 85%
		max-width 640px
		display flex
		flex-wrap wrap
		justify-content space-between
		margin 0px auto
		margin-bottom 60px
		box-sizing border-box

	.footer__inner--top
		width auto
		order 1

	.footer__inner--middle
		width 100%
		order 3
		margin-top 30px

	.footer__inner--bottom
		width auto
		order 2

	.mobile-center.footer__inner--top
	.mobile-center.footer__inner--bottom
		padding 0px

	.footer__caption
		margin-top 35px
		margin-bottom 0px
		text-align left

	.footer__top p
		width auto
		margin-bottom 5px

	.footer__phone-a
		display none

	.footer__phone-span
		display block

	.footer__dev-link
		width auto
		padding 15px 30px

	.footer__vkontakte
	.footer__facebook
	.footer__instagram
		width 212px




// adaptive for < D E S K T O P >

@media only screen and (min-width 977px)
	.footer__wrapper
		width 100%
		max-width 960px

	.footer__inner--top
		margin-top 13px

	.footer__inner--middle
		width auto
		order 2
		margin-top 55px
		margin-bottom 0px
		margin-right 107px

	.footer__inner--bottom
		margin-top 13px
		width auto
		order 3

	.footer__middle
		margin-left -6px
		flex-wrap wrap
		justify-content center

	.footer__vkontakte
	.footer__facebook
	.footer__instagram
		width 48px
		height 48px
		margin-left 6px
		border 1px solid #3e3e3e

	.footer__social-text
		display block
		width 100%
		font-size 18px
		line-height 27px
		text-align center
		margin-top 0px
