.footer
	width 100%

.photo .footer
	background-color #292929

.footer__wrapper
	max-width 320px
	margin 0px auto
	background-color #292929

.footer__caption
	margin-bottom 10px
	font-size 18px
	line-height 27px
	font-weight 700
	text-align center
	color white

.footer__phone-a
	display block
	padding 15px 20px
	font-size 18px
	line-height 27px
	font-weight bold
	color white
	outline 1px solid #3e3e3e
	outline-offset -1px
	text-align center
	text-decoration none

	&:hover
		outline 1px solid #515151

	&:active
		outline none
		opacity .5

.footer__phone-span
	display none

.footer__top
	display flex
	flex-direction column
	margin-bottom 25px

.footer__middle
	display flex

.footer__bottom
	display flex
	flex-direction column
	align-items center
	padding-bottom 25px

.footer__top p
	width 175px
	align-self center
	text-align center
	color white

.footer__social-icon:hover
	border-color #545454

.footer__social-icon:active
	background-color #252525
	opacity .5

.footer__svg
	position absolute
	top 30px
	left 0px
	width 105px
	height 40px

.footer__svg--vk
.footer__svg--fb
.footer__svg--in
	fill white

.footer__vkontakte
	display block
	position relative
	width 106px
	height 99px
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e
	border-right none

	&:hover + .footer__facebook
		border-left-color #545454

.footer__facebook
	display block
	position relative
	width 106px
	height 99px
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e
	border-right none

.footer__instagram
	display block
	position relative
	width 106px
	height 99px
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e

.footer__social-text
	display none

.footer__developer
	font-size 18px
	line-height 27px
	margin-top 35px
	margin-bottom 15px
	color white

.footer__dev-link
	display block
	padding 15px 20px
	width 240px // 320px
	text-align center
	font-size 18px
	line-height 24px
	font-weight 700
	color white
	text-decoration none
	outline 1px solid #3e3e3e
	outline-offset -1px

	&:hover
		outline 1px solid #515151

	&:active
		outline none
		opacity .5



// adaptive for < T A B L E T >

@media only screen and (min-width 550px)
	.footer
		width 100%
		display flex
		flex-flow row wrap
		background-color #292929

	.footer__wrapper
		width 85%
		max-width 640px
		display flex
		flex-wrap wrap
		justify-content space-between
		margin 0px auto
		margin-bottom 60px
		box-sizing border-box
		background-color none

	.footer__inner--top
		width auto
		order 1

	.footer__inner--middle
		width 100%
		order 3
		margin-top 30px

	.footer__inner--bottom
		width auto
		order 2

	.mobile-center.footer__inner--top
	.mobile-center.footer__inner--bottom
		padding 0px

	.footer__caption
		margin-top 35px
		margin-bottom 0px
		text-align left

	.footer__top p
		width auto
		margin-bottom 5px

	.footer__phone-a
		display none

	.footer__phone-span
		display block
		color white

	.footer__dev-link
		width auto
		padding 15px 30px

	.footer__vkontakte
	.footer__facebook
	.footer__instagram
		width 212px

	.footer__svg
		width 212px




// adaptive for < D E S K T O P >

@media only screen and (min-width 977px)
	.footer__wrapper
		width 100%
		max-width 960px

	.footer__inner--top
		margin-top 13px

	.footer__inner--middle
		width auto
		order 2
		margin-top 55px
		margin-bottom 0px
		margin-right 107px

	.footer__inner--bottom
		margin-top 13px
		width auto
		order 3

	.footer__middle
		margin-left -6px
		flex-wrap wrap
		justify-content center

	.footer__vkontakte
	.footer__facebook
	.footer__instagram
		width 48px
		height 48px
		margin-left 6px
		border 1px solid #3e3e3e

	.footer__svg
		top 10px
		width 50px
		height 25px

	.footer__social-text
		display block
		width 100%
		font-size 18px
		line-height 27px
		text-align center
		margin-top 0px
		color white
