.footer
	width 320px
	margin 0px auto
	background-color #292929
	color white

.footer__wrapper
	display flex
	flex-direction column
	justify-content center

.footer__top
	margin-bottom 25px

.footer__caption
	margin-bottom 10px
	font-size 18px
	line-height 27px
	font-weight 700
	text-align center

.footer__top p
	color white
	text-align center

.footer__phone
	display block
	padding 15px 20px
	font-size 18px
	line-height 27px
	font-weight bold
	color white
	outline 1px solid #3e3e3e
	outline-offset -1px
	text-align center
	text-decoration none

.footer__middle
	display flex

.footer__vkontakte
	display block
	width 106px
	height 99px
	background url('../img/vk.png') no-repeat 50% 50%
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e
	border-right none

.footer__facebook
	display block
	width 106px
	height 99px
	background url('../img/fb.png') no-repeat 50% 50%
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e
	border-right none


.footer__instagram
	display block
	width 106px
	height 99px
	background url('../img/inst.png') no-repeat 50% 50%
	text-indent -1000px
	overflow hidden
	border 1px solid #3e3e3e

.footer__bottom
	display flex
	flex-direction column
	align-items center
	margin-bottom 20px

.footer__developer
	font-size 18px
	line-height 27px
	margin-top 35px
	margin-bottom 15px

.footer__dev-link
	display block
	padding 15px 20px
	width 240px // 320px
	text-align center
	font-size 18px
	line-height 24px
	font-weight 700
	color white
	text-decoration none
	outline 1px solid #3e3e3e
	outline-offset -1px
