.news
	width 320px
	display flex
	margin 0px auto
	margin-bottom 30px
	background-color white
	// outline 2px solid yellowgreen



.news__wrapper
	width 280px

.news__caption
	margin 35px auto 10px auto
	font-size 30px
	line-height 30px
	text-transform uppercase
	text-align center

.news__post
	display flex
	box-shadow 0px 1px 0px 0px #e5ddd5
	margin-bottom 20px

	&:nth-of-type(1n+3)
		display none

.news__date-wrapper
	display flex
	flex-direction column
	margin-top 25px
	position relative
	margin-right 30px
	padding 5px 10px 0px 10px
	width 30px
	height 45px
	background-color black
	color white
	font-size 30px
	line-height 20px
	font-weight 700
	text-align center

	&::after
		content ''
		position absolute
		left 0px
		top 50px
		border-top 10px solid black
		border-bottom 0px solid transparent
		border-left 25px solid transparent
		border-right 25px solid transparent

	time
		font-size 16px
		line-height 19px
		font-weight 300
		color white

.news__tittle
	width 200px
	margin-top 25px
	margin-bottom 25px
	outline

.news__btn-open
	box-sizing border-box
	padding 17px 20px
	width 100%
	font-size 18px
	line-height 24px
	font-family 'PT Sans Narrow'
	font-weight 700
	text-transform uppercase
	border 1px solid #e5ddd5
	background-color transparent
	color


// adaptive for < T A B L E T >

@media only screen and (min-width 550px)
	.news
		width 100%
		padding-top 50px
		box-shadow 0px 1px 0px 0px #e5ddd5

	.news__wrapper
		width 85%
		max-width 640px
		box-sizing border-box
		margin 0px auto
		display flex
		flex-wrap wrap
		justify-content space-between
		width 100%

	.news__btn-open
		order -1
		max-width 160px

	.news__caption
		order -2
		margin 0px
		margin-top 15px
		font-size 40px

	.news__post
		box-shadow none

// Если применить, то будет как на макете, но на телефоне не будет отступов
// текст будет прижат к краям, при ландшафтном формате
// Сейчас отступы включены, смотриться хорошо, но это отхождение от макета
	// .news__wrapper.mobile-center
	// 	padding 0px

// adaptive for < D E S K T O P >

@media only screen and (min-width 977px)
	.news__wrapper
		width 100%
		max-width 960px

	.news__post
		margin-top 50px

	.news__post:nth-of-type(3)
		display flex

	.news__post:nth-of-type(1n+4)
		display none

	.news__caption
		width 70%
		text-align left
		margin-right auto

	.news__btn-open
		margin-left auto

// adaptive for < HI RESOLUTION DESKTOP >


