.reviews
	width 320px
	position relative
	margin 0px auto
	background-color white
	margin-bottom 20px

	&::after
		content ''
		position absolute
		bottom -20px
		background-color #292929
		border-left  160px solid #292929
		border-right 160px solid #292929
		border-top 35px solid white
		border-bottom 0px
		box-shadow 0px 1px 0px 0px #353535

.reviews__wrapper
	display flex
	flex-direction column

	input
		display none

.reviews__caption
	font-size 30px
	line-height 30px
	font-weight 700
	text-transform uppercase
	text-align center

.reviews__box
	display none
	min-height 300px
	margin-bottom 10px

.reviews__portrait
	margin-top 10px
	margin-right 20px
	width 50px
	height 50px

.reviews__portrait img
	width 100%
	max-width 100%
	height auto

.reviews__description
	width 210px

.reviews__name
	font-size 24px
	line-height 27px

.reviews__tittle
	font-size 18px
	line-height 27px

.reviews__btn-write
	width 100%
	display none
	padding 17px 20px
	box-sizing border-box
	font-size 18px
	line-height 24px
	font-family 'PT Sans Narrow'
	font-weight 700
	text-transform uppercase
	border 1px solid #e5ddd5
	background-color transparent

.toogle--reviews
	top -30px

.slider-arrow
	display none


.toogle--reviews label
	position absolute
	width 6px
	height 6px
	border 2px solid #959595
	background-color transparent
	transform rotate(45deg)
	cursor pointer

.toogle--reviews [for='reviews__person1']
	top 0px
	left 0px

.toogle--reviews [for='reviews__person2']
	top 0px
	left 50px

.toogle--reviews [for='reviews__person3']
	top 0px
	left 100px

#reviews__person1:checked ~ .toogle--reviews [for='reviews__person1']
#reviews__person2:checked ~ .toogle--reviews [for='reviews__person2']
#reviews__person3:checked ~ .toogle--reviews [for='reviews__person3']
	background-color #353535
	border-color #353535

#reviews__person1:checked ~ .reviews__box--first
	display flex

#reviews__person2:checked ~ .reviews__box--second
	display flex

#reviews__person3:checked ~ .reviews__box--third
	display flex




// adaptive for < T A B L E T >

@media only screen and (min-width 550px)
	.reviews
		width 85%
		max-width 640px
		box-sizing border-box
		background-color #f8f5f2

		&::after
			display none

	.reviews__wrapper
		position relative
		margin-top 30px
		flex-flow row wrap
		justify-content space-between

	.reviews__caption
		order -2
		margin 0px
		margin-top 15px
		font-size 40px
		width 50%
		text-align left

	.reviews__box
		margin-left 30px
		margin-right 30px
		margin-top 35px
		padding-top 20px
		padding-left 30px
		min-height 200px
		outline 1px solid #e5ddd5

	.reviews__portrait
		width 80px
		height 80px

	.reviews__portrait img
		width 100%
		max-width 100%
		height auto
		border-radius 50%

	.reviews__description
		width 100%
		max-width 410px

	.reviews__name
		margin-top 0px

	.reviews__btn-write
		display flex
		order -1
		max-width 160px

		&:hover
			border-color #d5c9bd

		&:active
			background-color #d5c9bd
			color rgba(255,255,255, 0.3)

		&:focus
			border-color black
			outline none

			&:active
				border-color #d5c9bd

	.slider-arrow
		display block
		position absolute
		top 60%
		left 0px
		width 100%

	.toogle--reviews
		width 110px
		height 30px
		transform none
		background-color #f8f5f2


	.toogle--reviews [for='reviews__person1']
		top 12px
		left 25px

	.toogle--reviews [for='reviews__person2']
		top 12px
		left 50px

	.toogle--reviews [for='reviews__person3']
		top 12px
		left 75px

	.slider-arrow label
		position  absolute
		border-top 6px solid transparent
		border-bottom 6px solid transparent

	#reviews__person1:checked ~ .slider-arrow label:nth-child(3)
	#reviews__person2:checked ~ .slider-arrow label:nth-child(1)
	#reviews__person3:checked ~ .slider-arrow label:nth-child(2)
		border-right 12px solid black
		left 20px

	#reviews__person1:checked ~ .slider-arrow label:nth-child(2)
	#reviews__person2:checked ~ .slider-arrow label:nth-child(3)
	#reviews__person3:checked ~ .slider-arrow label:nth-child(1)
		border-left 12px solid black
		right 23px




// adaptive for < D E S K T O P >

@media only screen and (min-width 977px)
	.reviews
		width 100%
		max-width 960px
		margin-bottom 30px

	.reviews__box
		min-height 160px
		outline none

	.reviews__portrait
		margin-top 0px
		margin-right 0px
		width 249px
		height 160px

	.reviews__portrait img
		width 100%
		max-width 100%
		height auto
		border-radius 0

	.reviews__description
		width 100%
		max-width 490px
		padding-left 70px
		outline 1px solid #e5ddd5

	.reviews__name
		margin-top 24px

	.reviews__tittle
		margin 0px

	.toogle--reviews
		top 0px



